<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>WebFWD | @title</title>

	<!-- Included CSS Files -->
	<link rel="stylesheet" href="@root_path/public/stylesheets/foundation.min.css" />
	<link rel="stylesheet" href="@root_path/public/stylesheets/app.min.css" />
	<link rel="stylesheet" href="http://www.mozilla.org/tabzilla/media/css/tabzilla.css" />

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="@root_path/public/stylesheets/ie.min.css">
	<![endif]-->
	
	<script src="@root_path/public/javascripts/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Video JS code -->
	<link rel="stylesheet" href="@root_path/public/stylesheets/video-js.min.css" />
	<script src="@root_path/public/javascripts/video.min.js"></script>
	<script>_V_.options.flash.swf = "@root_path/public/images/video-js/video-js.swf";</script>

	<!-- The ever-so-important FavIcon -->
	<link rel="shortcut icon" type="image/x-icon" href="@root_path/public/images/favicon.png" />

	<!-- Generated: @updated -->
</head>
<body id="@id">
	<div id="outer-wrapper">
		<div id="wrapper">
			<div class="container">
				<!-- navigation -->
				<div class="row">
					<header>
						<a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>
						<nav id="mainNavigation">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about/">About</a></li>
								<li><a href="/portfolio/">Portfolio</a></li>
								<li><a href="http://blog.webfwd.org/">Blog</a></li>
								<li><a href="/apply/">Apply</a></li>
							</ul>
						</nav>
						<h1><a href="/"><img src="@root_path/public/images/sandstone/logo.png" alt="WebFWD" /></a></h1>
					</header>
				</div>
				<!-- navigation -->
