* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: MetaWebPro-Black;
    src: url(../fonts/MetaWebPro-Black.woff) format('woff');
}

body {
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    background-color: #fffbed;
    background-image: url('../img/stripes.png');
    background-repeat: repeat-x;
    font-size: 12px;
    line-height: 21px;
    color: #222;
    overflow-y: scroll;
    border-top: 2px solid #686868;
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in;
    transition: background-color 0.4s ease-in;
}

body.white {
    background-image: url('../img/stripes2.png');
    background-color: #fafafa;
}

body.white #wrapper {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    background-color: #fff;
}

body.white #primaryNav {
    background-color: #fff;
}

a {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: maroon;
}

/* html5 junk */
nav,
article,
section,
header,
footer {
    display: block;
}

/* typographie */
.mono {
    font-family: "Monaco", Courier, monospace;
}

.sans {
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

.serif {
    font-family: "Georgia", Times New Roman, Times, serif;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 28px;
    color: #454545;
    font-weight: normal;
    font-family: "MetaWebPro-Black", Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.light {
    font-weight: 200;
}

hr {
    background-image: url('../img/hr.png');
    background-repeat: repeat-x;
    border: none;
    height: 5px;
    margin: 0 10px;
}

p {
    margin: 0 0 14px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
}

p:last-child {
    margin: 0;
}

a img {
    border: 0;
    outline: 0;
}

img {
    display: block;
    margin: 0 0 14px 0;
}

.yellow {
    background-color: #ffff99;
}

.red {
    color: #d70000;
}

.bright {
    color: #fff;
}

/* structure */
#wrapper {
    width: 962px;
    margin: 0 auto;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

#grid {
    position: fixed;
    height: 100%;
    width: 960px;
    left: 50%;
    margin-left: -480px;
    display: none;
    background-image: url("../img/grid.png");
    z-index: 100;
}

.row {
    float: left;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
    min-height: 1px;
    display: inline-block;
    margin: 0 10px;
    float: left;
    position: relative;
}

.c1 {
    width: 140px;
}

.c2 {
    width: 300px;
}

.c3 {
    width: 460px;
}

.c4 {
    width: 620px;
}

.c5 {
    width: 780px;
}

.c6 {
    width: 940px;
}

.w1,
.w2,
.w3,
.w4,
.w5,
.w6 {
    display: inline-block;
    float: left;
    padding: 0;
}

.w1 {
    width: 160px;
}

.w2 {
    width: 320px;
}

.w3 {
    width: 480px;
}

.w4 {
    width: 640px;
}

.w5 {
    width: 800px;
}

.w6 {
    width: 960px;
}

section {
    padding: 40px 0;
}

/* sticky header */
#spacer {
    height: 82px;
    padding: 0;
    margin: 0;
    z-index: 0;
    position: relative;
    display: none;
}

#primaryNav {
    background-color: #fffbed;
    z-index: 10;
    position: relative;
    padding: 0;
    width: 960px;
    -webkit-box-shadow: 0 13px 0 -10px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 0 13px 0 -10px rgba(204, 204, 204, 0.5);
    -o-box-shadow: 0 13px 0 -10px rgba(204, 204, 204, 0.5);
    box-shadow: 0 13px 0 -10px rgba(204, 204, 204, 0.5);
    -webkit-transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in;
    transition: background-color 0.4s ease-in;
}

#primaryNav img {
    margin: 0;
    cursor: pointer;
}

#primaryNav .c2 {
    padding: 23px 0 21px;
}

#primaryNav .c4 {
    padding: 40px 0 21px;
}

#primaryNav ul {
    list-style-type: none;
    text-align: right;
}

#primaryNav li {
    display: inline-block;
    padding: 0 0 0 10px;
}

#primaryNav li a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
    cursor: pointer;
}

#primaryNav li a:hover {
    color: #d70000;
}

#primaryNav li a.apply {
    background-image: -moz-linear-gradient(center top, #ff7373 0%, #ff5656 50%, #ff3a3a 50%, #d70000 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7373), color-stop(50%, #ff5656), color-stop(50%, #ff3a3a), color-stop(100%, #d70000));
    border: 1px solid #d70000;
    padding: 5px 10px;
    background-color: red;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #d70000;
}

#primaryNav li a.apply:hover {
    background-color: maroon;
}

#primaryNav .selected {
    font-weight: bold;
    color: red;
}

#primaryNav #callToAction {
    position: absolute;
    top: -100px;
    opacity: 0;
    right: 0;
    width: 105px;
    height: 110px;
    display: block;
    background-image: url('../img/applyNow.png');
    -webkit-transition: all 1s 0.75s ease;
    -moz-transition: all 1s 0.75s ease;
    -o-transition: all 1s 0.75s ease;
    transition: all 1s 0.75s ease;
}

#primaryNav #callToAction.visible {
    opacity: 1;
    top: -110px;
}

/* content */
#tab {
    padding: 0;
}

#tab img {
    float: right;
}

#essentials {
    position: absolute;
    width: 960px;
    top: 0;
    z-index: 1;
}

#essentials img.fx {
    margin: 10px 0 0 0;
}

#essentials img.tab {
    float: right;
}

#intro {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    width: 960px;
    position: relative;
    background-image: -moz-radial-gradient(center center, #ffffff 0%, rgba(255, 255, 255, 0) 70%);
    -webkit-transition: background-image 0.4s ease-in;
    -moz-transition: background-image 0.4s ease-in;
    -o-transition: background-image 0.4s ease-in;
    transition: background-image 0.4s ease-in;
}

#intro h2 {
    margin: 0 0 14px 0;
}

#intro .row {
    width: 960px;
}

#intro .center {
    margin: 0 170px;
}

#intro #movie {
    width: 300px;
    height: 160px;
    display: block;
    margin-top: -9px;
    background-image: url('../img/movie.png');
    background-position: top left;
}

#intro #movie:hover {
    background-position: bottom left;
}

#intro p {
    margin: 0;
}

#intro .promoted {
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#intro .promoted a {
    font-style: italic;
}

#splash {
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0;
    height: 278px;
}

#what .c6 {
    margin: 0 10px 21px;
}

#what .marginTop {
    margin-top: 40px;
}

#what .caption {
    margin: 7px 0 0 0;
}

#what h3 {
    margin: 0 0 14px 0;
}

#what ul {
    padding: 10px 0 0;
    background-color: #eee;
    text-shadow: 1px 1px 0 #fff;
    color: #222;
    list-style-type: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#what ul li {
    border-bottom: 1px solid #fafafa;
    padding: 0 10px 10px;
    margin: 0 0 10px;
    width: 280px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

#what ul li p {
    color: #222;
    font-size: 12px;
}

#what ul li:last-child {
    border-bottom: none;
    margin: 0;
}

#what .both ul {
    background-color: #FFDADA;
    color: #BF2B2B;
    text-shadow: 1px 1px 0 #FFEDED;
}

#what .fellows ul {
    background-color: #CFE3FF;
    color: #19498B;
    text-shadow: 1px 1px 0 #E3EFFF;
}

#what .bootcamp ul {
    background-color: #C8E8CA;
    color: #16591A;
    text-shadow: 1px 1px 0 #E0FCE2;
}

#how .c1,
#how .c2,
#how .c3,
#how .c4,
#how .c5,
#how .c6 {
    margin: 0 10px 21px;
}

#how #listWrap {
    margin: 20px 10px 40px;
    background-color: #222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-shadow: -1px -1px 0 #000000;
}

#how #listWrap .c3 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

#how #listWrap .c3:first-child {
    padding: 0;
    margin: 0 20px 0 0;
}

#how #listWrap .c3:last-child {
    padding: 0;
    margin: 0;
}

#how #listWrap h3 {
    color: #fff;
    padding: 30px 50px 10px;
}

#how #listWrap ul {
    list-style-type: none;
    color: #ccc;
    font-size: 14px;
}

#how #listWrap li {
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

#how #listWrap li:last-child {
    border: none;
}

#how #listWrap ul#offer, #how #listWrap ul#characteristics {
    padding: 10px 50px 30px;
}

#how #interests p {
    font-size: 14px;
    min-height: 42px;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}

#how #interests .icon {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
    display: inline-block;
    float: left;
}

#how #interests .info {
    float: left;
    width: 230px;
}

#how #traits {
    margin: 0 10px;
    padding: 20px 0 0;
    width: 300px;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#how #traits p {
    font-size: 14px;
    min-height: 42px;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}

#how #traits li {
    border-bottom: 1px solid #fafafa;
    padding: 0 10px 20px;
    margin: 0 0 20px;
    width: 280px;
    text-shadow: 1px 1px 0 #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

#how #traits li p {
    color: #222;
    font-size: 12px;
}

#how #traits li:last-child {
    border-bottom: none;
    margin: 0;
}

#why ul {
    list-style-type: none;
}

#why ul li {
    border-left: 5px solid rgba(0, 0, 0, 0.15);
    padding: 0 0 0 10px;
    margin: 21px 0 0;
}

#why ul p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    margin: 0;
}

#buzz {
    padding: 0;
}

#buzz h2 {
    padding: 40px 0 0;
}

#buzz .row:first-child {
    margin-bottom: 40px;
}

#buzz ul {
    list-style-type: none;
}

#buzz ul li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#buzz ul li .posted, #buzz ul li .date {
    color: #74726a;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

#buzz ul li:last-child {
    border: none;
}

#notes {
    font-size: 14px;
}

#form {
    width: 720px;
    margin: 0 auto 40px;
    background-color: #fafafa;
    border: 1px solid #eee;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#form .row {
    border-bottom: 1px solid #eee;
    padding: 0 39px;
}

#form .row:last-child {
    border: none;
}

#form .c4, #form .c2 {
    padding: 20px 0;
}

#form label {
    font-size: 12px;
    font-weight: bold;
}

#form input[type=text], #form textarea {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #888;
    display: block;
    margin: 7px 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

#form input[type=checkbox] {
    display: inline-block;
    margin: 0 5px 0 0;
}

#form textarea {
    min-height: 101px;
}

#form select {
    width: 100%;
}

#form input[type=text]:focus, #form textarea:focus {
    border: 1px solid #37A6FF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 1px #37a6ff inset;
    -moz-box-shadow: 0 0 0 1px #37a6ff inset;
    -o-box-shadow: 0 0 0 1px #37a6ff inset;
    box-shadow: 0 0 0 1px #37a6ff inset;
}

#form .confirm .c4:first-child {
    padding: 20px 0 5px;
}

#form .confirm .c4:last-child {
    padding: 5px 0 20px;
}

#form a {
    color: #222;
}

#form #submit {
    float: right;
    border: 1px solid #37A6FF;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #37a6ff;
    color: #fff;
    cursor: pointer;
    background-color: #37A6FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(top, #76c2ff 0%, #37a6ff 100%);
    background-image: -o-linear-gradient(top, #76c2ff 0%, #37a6ff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76c2ff), color-stop(100%, #37a6ff));
    -webkit-box-shadow: 0 0 0 1px #76c2ff inset;
    -moz-box-shadow: 0 0 0 1px #76c2ff inset;
    -o-box-shadow: 0 0 0 1px #76c2ff inset;
    box-shadow: 0 0 0 1px #76c2ff inset;
    margin: 10px 40px 20px 0;
}

#form #submit:active {
    border: 1px solid #003E70;
    text-shadow: -1px -1px 0 #006ec6;
    color: #eee;
    background-color: #006EC6;
    background-image: -moz-linear-gradient(top, #3aa7ff 0%, #006ec6 100%);
    background-image: -o-linear-gradient(top, #3aa7ff 0%, #006ec6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3aa7ff), color-stop(100%, #006ec6));
    -webkit-box-shadow: 0 0 5px #003763 inset;
    -moz-box-shadow: 0 0 5px #003763 inset;
    -o-box-shadow: 0 0 5px #003763 inset;
    box-shadow: 0 0 5px #003763 inset;
}

#FAQ {
    width: 640px;
    margin: 0 auto;
}

#FAQ h1 {
    margin: 0 10px 21px;
}

#FAQ h2 {
    margin: 40px 10px 0;
}

#FAQ li {
    margin: 40px 10px;
}

#FAQ .Q {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 14px;
}

#FAQ .A {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
}

#FAQ .A ul {
    margin: 14px 0;
}

#FAQ .A li {
    list-style-type: disc;
    margin: 0 0 14px 14px;
}

#aboutMentorship h1, #notes h1 {
    margin: 0 0 21px 0;
}

#mentors li {
    margin-bottom: 40px;
}

#mentors .headshot {
    height: 160px;
    width: 140px;
    display: block;
    float: left;
    background-color: #222;
}

#mentors .mentorInfo {
    float: left;
    width: 320px;
    min-height: 164px;
    padding: 10px 0 0 20px;
    text-shadow: 1px 1px 0 #fff;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#mentors .name {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #222;
}

#mentors .title {
    display: block;
    color: rgba(0, 0, 0, 0.75);
}

#mentors p {
    font-size: 12px;
    margin-top: 7px;
}

#mentors h2, #family h2 {
    margin: 0 0 40px 0;
}

#family .c3 {
  padding-bottom: 20px;
}

footer {
    width: 962px;
    margin-left: -1px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    padding: 40px 1px;
}

footer .c4 {
    text-align: right;
}

footer .c4 ul {
    list-style-type: none;
}

footer .c4 li {
    margin: 0 0 0 10px;
    display: inline-block;
}

/** Specific form elements */
#form .field {
    padding: 15px 39px;
}

#first_name-container, #last_name-container {
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
}

.errorlist li {
    color: red;
    list-style: none;
}

.form-errors {
    color: red;
    text-align: center;
}

#email-container {
    clear: both;
}

/** Video on homepage */
.js #web-fwd-video-container {
    display: none;
}

/* Fancybox overlay hack (make it transparent but clickablee) */
#fancybox-overlay {
    cursor: default !important;
    opacity: 0 !important;
}

/* clearfix */
.cf:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .cf {
    display: block;
}

* html .cf {
    height: 1%;
}
