<!DOCTYPE html>
:header

<!-- main -->
<div class="row padding">
	<div class="four columns">
		<h3>@headline</h3>
	</div>
	<div class="eight columns">
		@content
	</div>
</div>

<div class="row padding">
	<div class="twelve columns">
		<ul class="block-grid two-up">
		get "/about-experts" do
			foreach $children do
			<li>
				<div class="peopleFrame">
					:images
					<h5><a href="@link" target="_blank">@name</a></h5>
					<small>@title</small>
					<p>@description</p>
					<span class="white radius label">@expertise</span>
				</div>
			</li>
			endforeach
		end
		</ul>
	</div>
</div>
<!-- main -->

:footer