<!DOCTYPE html>
:header

<!-- main -->

<!-- Learning Modules -->
<div class="row padding">
	<div class="four columns">
		<h3>@headline-1</h3>
	</div>
	<div class="eight columns">
		<p class="largeP">@content-1</p>
	</div>
</div>

get "/about-modules" do
	<div class="row padding">
		<div class="twelve columns">
			<ul class="block-grid three-up">
				foreach $children do
				<li>
					<div class="resourcesContent">
						<a href="@link">:images</a>
						<p><strong><a href="@link">@topic</a></strong><br />@expert</p>
						<p>@description</p>
					</div>
				</li>
				endforeach
			</ul>
		</div>
	</div>
end

<!-- Learning Modules -->

<!-- Webinars -->
<div class="row padding">
	<div class="four columns">
		<h3>@headline-2</h3>
	</div>
	<div class="eight columns">
		<p class="largeP">@content-2</p>
	</div>
</div>

<div class="row padding">
	<div class="twelve columns">
		<ul class="block-grid three-up">
			foreach $_webinars do
			<li><div class="resourcesContent">@content</div></li>
			endforeach
		</ul>
	</div>
</div>
<!-- Webinars -->

<!-- Presentations -->
<div class="row padding">
	<div class="four columns">
		<h3>@headline-3</h3>
	</div>
	<div class="eight columns">
		<p class="largeP">@content-3</p>
	</div>
</div>

<div class="row padding" class="resourcesMain">
	<div class="twelve columns">
		<ul class="block-grid three-up">
			foreach $_presentations do
			<li class="resourcesMain"><div class="resourcesContent">@content</div></li>
			endforeach
		</ul>
	</div>
</div>
<!-- Presentations -->

<!-- main -->

:footer